

.artist-tiles {
    padding: 10px;
}

.artist-tile-text {
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.artist-index-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

